@model ImprovShowPlanner.Models.Player

@{
    ViewBag.Title = "Choose Players";
}

<h2>Which players will play this game?</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateGame">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @for (var i = 0; i < (int)ViewBag.PlayerNumber; i++)
            {
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <select asp-for="FirstName" class="form-control" name="@i" asp-items="@ViewBag.PlayerList"></select>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Choose Players" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
